<h1>Welcome, <%= name %>!</h1>

<p>Now that we have you here:</p>

<ul>
	<li><a href="#">View Your Events</a></li>
	<li><a href="#">Request Switch</a></li>
	<li><a href="#">Edit Settings</a></li>
</ul>
