<h1>Welcome, <%= name %>!</h1>

<p>Now that we have you here:</p>

<ul>
	<li><a href="/account/view/">View Your Events</a></li>
	<li><a href="/account/view/all/">View All Events</a></li>
	<li><a href="/account/switch/">Request Switch</a></li>
	<li><a href="/account/settings/">Edit Settings</a></li>
</ul>
