<h1>Welcome, <%= name %>!</h1>

<h2>Dashboard</h2>

<ul>
	<li><a href="/account/signup">Sign up for Events</a></li>
	<li><a href="/account/view">View Your Schedule</a></li>
	<li><a href="/account/view/all">View All Events</a></li>
	<li><a href="/account/settings">Edit Settings</a></li>
</ul>

<% if @user.is_admin %>
<h2>Administration</h2>
	<ul>
                <li><a href="/admin/schedule">Schedule</a></li>
                <li><a href="/admin/statistics">Statistics</a></li>
                <li><a href="/admin/settings">Settings</a></li>
	</ul>		
<% end %>
