<h1>New Event</h1>

<p>Enter event details below:</p>

<div id="add-outer">
	<div id="add-inner">
		<form method="post" action="">
			<div>
				Name <input type="text" name="event_name" id="event_name">
			</div>
			<div>
				Month <input type="text" name="event_month" id="event_month">
			</div>
			<div>
				Day <input type="text" name="event_day" id="event_day">
			</div>
			<div>
				Year <input type="text" name="event_year" id="event_year">
			</div>
			<div>
				Time <input type="text" name="event_time" id="event_time">
			</div>
			<div>
				Type 
				<select name="type" id="type">
					<option value="">Select Type</option>
					<option value="Beer Vending">Beer Vending</option>
					<option value="Booth">Booth</option>
					<option value="Pearlick">Pearlick</option>
					<option value="Other">Other</option>
				</select>
			</div>
			<div>
				Location 
				<select name="location" id="location">
					<option value="">Select Location</option>
					<option value="Rose Garden">Rose Garden</option>
					<option value="Coliseum">Coliseum</option>
				</select>
			</div>
			<div>
				Needed <input type="text" name="needed" id="needed">
			</div>
			<div>
				Notes
				<textarea cols="40" rows="5" name="notes" id="notes"></textarea>
			</div>
			<input type="submit" id="submit" value="Add Event!">
		</form>
	</div>
</div>
