<div id="toolbar">
	<a href="/admin/schedule">Back to Schedule</a>
</div>

<img id="heading" src="/images/create-date-range.jpg" height="34" width="212" alt="Create Date Range" />

<p>Enter new date range below:</p>

<form id="add-range" method="POST" action="/admin/add/range">
	<div class='item'>
		Month
		<select name="month" id="month">
			<option value="1">Januaray</option>
			<option value="2">February</option>
			<option value="3">March</option>
			<option value="4">April</option>
			<option value="5">May</option>
			<option value="6">June</option>
			<option value="7">July</option>
			<option value="8">August</option>
			<option value="9">September</option>
			<option value="10">October</option>
			<option value="11">November</option>
			<option value="12">December</option>
		</select>
	</div>
	<div class='item'>
		Year
		<input type="text" name="year" value="" />
	</div>
	<div class='item'>
		Per User
		<input type="text" name="perUser" value="" /> <div id="perHelper">*how many events should each user sign up for?</div>
	</div>
	<input id="ss" type="image" src="/images/add-range.jpg" />
</form>
