<div id="toolbar">
	<a href="/admin/add/range">Add Range</a> | <a href="/admin/archives">View Archives</a>
</div>

<img id="heading" src="/images/schedule.jpg" height="28" width="105" alt="Schedule" />

<p>Some text here</p>
