<!DOCTYPE HTML>
<html>
<head>
<title>AMC Coordinator</title>
</head>
<link rel="stylesheet" type="text/css" href="/style.css" />
<body>
<div id="container">
	<img src="/images/logo.png" height="77" width="320" alt="AMC Coordinator - Coordination through Communication" />
	<% if @user %>
		<ul id="nav">
			<li<% if active == 'view' %> class="active"<% end %>><a href="/account/view">Your Events</a></li>
			<li<% if active == 'all' %> class="active"<% end %>><a href="/account/view/all">All Events</a></li>
			<li<% if active == 'switch' %> class="active"<% end %>><a href="/account/switch">Request Switch</a></li>
			<li<% if active == 'settings' %> class="active"<% end %>><a href="/account/settings">Edit Settings</a></li>
			<li><a href="/logout">Sign Out</a></li>
		</ul>
	<% end %>
	<div id="outer-content">
		<div id="content">
		<%= yield %>
		</div>
	</div>
	<div id="footer">
		Copyright AMC 2011 - All Rights Reserved
	</div>
</div>
</body>
</html>
