<!DOCTYPE HTML>
<html>
<head>
<title>AMC Coordinator</title>
</head>
<link rel="stylesheet" type="text/css" href="/style.css" />
<body>
<div id="container">
	<a href="/account"><img border="0" src="/images/logo.png" height="77" width="320" alt="AMC Coordinator - Coordination through Communication" /></a>
	<% if @user %>
		<ul id="nav">
			<li<% if active == 'signup' %> class="active"<% end %>><a href="/account/signup">Sign up!</a></li>
			<li<% if active == 'view' %> class="active"<% end %>><a href="/account/view">Your Events</a></li>
			<% if @user.is_admin %><li<% if active == 'admin' %> class="active"<% end %>><a href="/admin">Administration</a></li><% end %>
			<li<% if active == 'settings' %> class="active"<% end %>><a href="/account/settings">Edit Settings</a></li>
			<li><a href="/logout">Sign Out</a></li>
		</ul>
	<% end %>
	<div id="outer-content">
		<div id="content">
		<%= yield %>
		</div>
	</div>
	<div id="footer">
		Copyright AMC 2011 - All Rights Reserved
	</div>
</div>
</body>
</html>
