<img id="heading" src="/images/change-password.jpg" height="35" width="204" alt="Change Password" />

<% if params['status'] == "changed" %>
<div id="confirm">
	Password Changed!
</div>
<script type="text/javascript">
	$('#confirm').show(350).delay(3000).hide(350);
</script>
<% end %>
<% if params['status'] == "failed" %>
<div id="failed">
	Failed! - Invalid Username or Passwords Didn't Match
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('#failed').show(350).delay(3000).hide(350);
});
</script>
<% end %>

<p>Enter your new account password twice below:</p>

<form id="settings" method="POST" action="/account/passchange">
	<div class='item'>
		Username
		<input type="text" name="user" value="<%= @user.username %>" />
	</div>
	<div class='item'>
		New Password
		<input type="password" id="newPass" name="newPass" value="" />
	</div>
	<div class='item'>
		Again
		<input type="password" id="againPass" name="againPass" value="" />
	</div>
	<input id="ss" type="image" src="/images/submit.jpg" />
</form>

<div id="bottombar">
	&#60;&#60; <a href="/account/settings">Go Back</a>
</div>

