<img id="heading" src="/images/account-settings.jpg" height="35" width="201" alt="Account Settings" />

<% if params['status'] == "changed" %>
<div id="confirm">
	Settings Updated!
</div>
<script type="text/javascript">
	$('#confirm').show(350).delay(3000).hide(350);
</script>
<% end %>

<p>Change account level settings:</p>

<form id="settings" method="POST" action="/account/settings">
	<div class='item'>
		First Name
		<input type="text" name="first" value="<%= @user.first_name %>" />
	</div>
	<div class='item'>
		Last Name
		<input type="text" name="last" value="<%= @user.last_name %>" />
	</div>
	<div class='item'>
		Email
		<input type="text" name="email" value="<%= @user.email %>" />
	</div>
	<input id="ss" type="image" src="/images/submit.jpg" />
</form>

<div id="bottombar">
	* <a href="/account/passchange">Change Password</a>
</div>
